.panel-default>.panel-heading {
    color: #fff;
    background-color: rgba(89, 89, 89, 0.701);
    border-color: rgba(89, 89, 89, 0.701);
}

.panel-default {
    border-color:rgba(89, 89, 89, 0.701);
}

.jumbotron {
    color: white;
    background-image: url("../images/t.jpg");
    text-align: center;
}

h1, h2 {
    background-color: rgba(89, 89, 89, 0.701);
    display:inline-block
}

#submit {
    background-color: rgba(89, 89, 89, 0.701);
    border: 1px solid #999;
}